@page "/"
@inject IDialogService DialogService




<style>
    .mud-tabs-tabbar {
        background-color: transparent;
    }

    .mud-typography-h6, .mud-typography-h2, .mud-typography-h5 {
        font-family: null;
    }

    .mud-timeline-item-dot .mud-timeline-item-dot-inner.mud-timeline-dot-default {
        background-color: white;
    }
</style>

<div class="mainPortfolio">
    <MudImage Elevation="23" Style="border-radius:50%;height: 30%; width:30%" Src="images/imagePR.png" Alt="prof"></MudImage>
    <MudText  Typo="Typo.h2" Class="home-page-font-style">Khristos Zin</MudText>
    <MudText Typo="Typo.h6" Class="home-page-font-style">Software Developer | AWS Certified Cloud Practitioner |  C# ASP .NET</MudText>

</div>
<div class="mainPortfolio child">
    <MudCard Elevation="23" Class=" background-style" >
        <MudCardContent >
            <MudIcon Icon="@Icons.Material.Filled.PushPin" Size="Size.Large" Style="color:#143D60;"></MudIcon>

            <MudText Class="home-page-font-style" Typo="Typo.h5">TennisGo Project</MudText>
            <MudText Class="home-page-font-style" Typo="Typo.body2">Enjoy the simple game of tennis</MudText>
            <br />
            <MudList Class="home-page-font-style" T="string">
                <MudListItem Text="Try to beat the computer 1v1" Icon="@Icons.Material.Filled.ArrowRight" />
                <MudListItem Text="Select tennis court color" Icon="@Icons.Material.Filled.ArrowRight" />
                <MudListItem Text="Begin the game with the serve" Icon="@Icons.Material.Filled.ArrowRight" />
            </MudList>
        </MudCardContent>
        <MudCardActions>
            <MudButton @onclick="OpenRegistrationFormAsync" Variant="Variant.Filled" Style="color:yellow;font-weight:bold">Learn More</MudButton>
            <MudImage id="ball" class="ball" Height="20" Style="right:17px" Src="images/custom4.png" Alt="Tennis Ball"></MudImage>
        </MudCardActions>
    </MudCard>
</div>


 <div class="about-section">



    <MudTabs Elevation="23"  Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">

        <MudTabPanel Class="background-style" Icon="@Icons.Material.Sharp.PushPin" Text="About Me">
                <MudText Typo="Typo.h6" Class="home-page-font-style" Style="text-align:center">
                    Professional journey is driven by a strong commitment to building high-quality features, 
                    and responsive web applications that enhance user experience. My experience has strengthened my proficiency in C#, ASP.NET core, and SQL, 
                    reinforcing my expertise in cloud computing as an AWS Certified Cloud Practitioner
                </MudText>
     
        </MudTabPanel>

        <MudTabPanel Class="background-style" Icon="@Icons.Material.Sharp.Book"  Text="Education">
                     <MudTimeline>
                <MudTimelineItem Size="Size.Small" Variant="Variant.Filled" Elevation="20">
                            <ItemOpposite>
                                <MudText Class="home-page-font-style" Typo="Typo.h6">Sep 2011 - July 2016</MudText>
                            </ItemOpposite>
                            <ItemContent>
                        <MudText Class="home-page-font-style" Style="text-align:center; font-weight:bold" Typo="Typo.h5">
                                    Master's degree in Tourism and Travel Services Management
                                </MudText>
                            </ItemContent>
                   </MudTimelineItem>

                <MudTimelineItem Size="Size.Small" Variant="Variant.Filled" Elevation="20">
                            <ItemOpposite>
                                <MudText Class="home-page-font-style" Typo="Typo.h6">Jan 2022 - Apr 2023</MudText>
                            </ItemOpposite>
                            <ItemContent>
                        <MudText Class="home-page-font-style" Style="text-align:center; font-weight:bold" Typo="Typo.h5">
                                    Diploma of Computer Software Technology/Technician
                                </MudText>
                            </ItemContent>
                        </MudTimelineItem>
                    </MudTimeline>
        </MudTabPanel>

        <MudTabPanel Class="background-style" Icon="@Icons.Material.Sharp.DeveloperMode" Text="IT Experience">
            <MudTimeline>
                <MudTimelineItem  Size="Size.Small" Variant="Variant.Filled" Elevation="20">
                    <ItemOpposite>
                        <MudText Class="home-page-font-style" Typo="Typo.h6"> Mar 2022 -  Mar 2024</MudText>
                    </ItemOpposite>
                    <ItemContent>
                        <MudText Class="home-page-font-style" Style="text-align:center; font-weight:bold;padding-right: 100px;" Typo="Typo.h5" GutterBottom="true"> Software Developer </MudText>
                    </ItemContent>
                </MudTimelineItem>

                <MudTimelineItem Size="Size.Small" Variant="Variant.Filled" Elevation="20">
                    <ItemOpposite>
                        <MudText Class="home-page-font-style" Typo="Typo.h6">Apr 2024 - Present</MudText>

                    </ItemOpposite>
                    <ItemContent>
                        <MudText Class="home-page-font-style" Style="text-align:center; font-weight:bold;padding-left:75px" Typo="Typo.h5">
                            Professional Development
                        </MudText>
                    </ItemContent>
                </MudTimelineItem>
            </MudTimeline>
        </MudTabPanel>

        <MudTabPanel Class="background-style" Icon="@Icons.Material.Sharp.Settings" Text="Skills">
            <MudGrid>
                <MudItem xs="12" sm="6">
                    <div>
                        <div class="typo-style home-page-font-style">C#</div>
                        <div class="d-inline"><MudProgressLinear Color="Color.Warning" Size="Size.Small" Value="75" /></div>
                    </div>
                </MudItem>

                <MudItem xs="12" sm="6">
                    <div>
                        <div class="typo-style home-page-font-style">ASP .Net core</div>
                        <div class="d-inline"><MudProgressLinear Color="Color.Warning" Size="Size.Small" Value="72" /></div>
                    </div>
                </MudItem>

                <MudItem xs="12" sm="6">
                    <div>
                        <div class="typo-style home-page-font-style">JavaScript</div>
                        <div class="d-inline"><MudProgressLinear Color="Color.Warning" Size="Size.Small" Value="65" /></div>
                    </div>
                </MudItem>

                <MudItem xs="12" sm="6">
                    <div>
                        <div class="typo-style home-page-font-style">AWS</div>
                        <div class="d-inline"><MudProgressLinear Color="Color.Warning" Size="Size.Small" Value="65" /></div>
                    </div>
                </MudItem>

                <MudItem xs="12" sm="6">
                    <div>
                        <div class="typo-style home-page-font-style">HTML5/CSS</div>

                        <div class="d-inline"><MudProgressLinear Color="Color.Warning" Size="Size.Small" Value="92" /></div>
                    </div>
                </MudItem>

                <MudItem xs="12" sm="6">
                    <div>
                        <div class="typo-style home-page-font-style">Blazor</div>
                        <div class="d-inline"><MudProgressLinear Color="Color.Warning" Size="Size.Small" Value="94" /></div>
                    </div>
                </MudItem>
                <MudItem xs="12" sm="6">
                    <div>
                        <div class="typo-style home-page-font-style">SQL</div>
                        <div class="d-inline"><MudProgressLinear Color="Color.Warning" Size="Size.Small" Value="75" /></div>
                    </div>
                </MudItem>

                <MudItem xs="12" sm="6">
                    <div>
                        <div class="typo-style home-page-font-style">Git</div>
                        <div class="d-inline"><MudProgressLinear Color="Color.Warning" Size="Size.Small" Value="79" /></div>
                    </div>
                </MudItem>

                <MudItem xs="12" sm="6">
                    <div>
                        <div class="typo-style home-page-font-style">Java</div>
                        <div class="d-inline"><MudProgressLinear Color="Color.Warning" Size="Size.Small" Value="58" /></div>
                    </div>
                </MudItem>

                <MudItem xs="12" sm="6">
                    <div>
                        <div class="typo-style home-page-font-style">Python</div>
                        <div class="d-inline"><MudProgressLinear Color="Color.Warning" Size="Size.Small" Value="58" /></div>
                    </div>
                </MudItem>

            </MudGrid>
        </MudTabPanel>

        <MudTabPanel Class="background-style" Icon="material-symbols-outlined/license" Text="Certification">
            <MudTimeline>

                <MudTimelineItem Size="Size.Small" Variant="Variant.Filled" Elevation="20">

                    <ItemOpposite>
                        <MudText Class="home-page-font-style" Typo="Typo.h6">October 2024</MudText>
                    </ItemOpposite>

                    <ItemContent>
                        <MudText Class="home-page-font-style" Style="text-align:center; font-weight:bold" Typo="Typo.h5">AWS Certified Cloud Practitioner</MudText>
                        <MudButton Typo="Typo.body2" Target="_blank" Href="https://www.credly.com/badges/43e2d12d-bc60-4e1d-b16d-7f3d1aeafda5" Class="mud-text-secondary"><span style=" padding-left: 25px;" class="home-page-font-style">View Credential</span></MudButton>
                    </ItemContent>
                </MudTimelineItem>

                <MudTimelineItem Size="Size.Small" Variant="Variant.Filled" Elevation="20">
                    <ItemOpposite>
                        <MudText Class="home-page-font-style" Typo="Typo.h6" >July 2024</MudText>
                    </ItemOpposite>
                    <ItemContent>
                        <MudText Class="home-page-font-style" Style="text-align:center; font-weight:bold" Typo="Typo.h6">Foundational C# with Microsoft</MudText>
                        <MudButton Typo="Typo.body2" Target="_blank" Href="https://www.freecodecamp.org/certification/SteelCode/foundational-c-sharp-with-microsoft " Class="mud-text-secondary">
                            <span style=" padding-left: 57px;" class="home-page-font-style">View Credential</span>
                        </MudButton>
                    </ItemContent>
                </MudTimelineItem>

            </MudTimeline>

        </MudTabPanel>

       

        <MudTabPanel Class="background-style" Icon="material-symbols-outlined/chess_pawn" Text="Hobbies">

                <MudIcon Icon="@Icons.Material.Sharp.SportsSoccer" Class="icons-style home-page-font-style" Title="Football" />
                <MudIcon Icon="@Icons.Material.Sharp.SportsTennis" Class="icons-style home-page-font-style" Title="Tennis" />
                <MudIcon Icon="@Icons.Material.Sharp.PedalBike" Class="icons-style home-page-font-style" Title="Cycling" />
                <MudIcon Icon="@Icons.Material.Sharp.Water" Class="icons-style home-page-font-style" Title="Swimming" />
                <MudIcon Icon="@Icons.Material.Sharp.Hiking" Class="icons-style home-page-font-style" Title="Hiking" />
        </MudTabPanel>


      

    </MudTabs>


 </div> 






@code
{
    private Task OpenRegistrationFormAsync()
    {
        var options = new DialogOptions { BackgroundClass = "my-custom-class", CloseButton = true };

        return DialogService.ShowAsync<DialogForm>("", options);
    }   
}   